@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto+Mono:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Space+Mono:wght@700&display=swap');

@import 'variables';

* {
  font-family: Roboto Mono, monospace;

  // change selection text color
  &::selection {
    color: white !important;
    background: $primary !important;
  }
  &::-moz-selection {
    color: white !important;
    background: $primary !important;
  }
}

button {
  border: none;
  outline: none;
  background: none;
  margin: 0;
  padding: 0;
}
