@import 'variables';

.layout-default {
  width: 100vw;
  height: 100vh;

  position: relative;

  display: flex;
  justify-content: center;

  background-color: $background;

  font-family: Roboto Mono, monospace;
}
