@import 'variables';

.layout-default {
  width: 100vw;
  height: 100vh;

  position: relative;

  display: flex;
  justify-content: center;

  //background-color: $background;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #ffffff, #cccccc);
  background-size: 300% 300%;

  font-family: Roboto Mono, monospace;
}
