@import 'common';

.main {
  width: 100vw;
  height: 100vh;

  background-color: $background;

  display: grid;
  grid-template-columns: 4fr 5fr;
  grid-template-rows: 1fr;

  align-items: center;

  &__logo {
  }
}

.animated-logo {
  width: 880px;
  height: 600px;

  font-family: Roboto Mono, monospace;
}
