// colors
$primary: rgb(42, 205, 193);
$secondary: rgb(232, 232, 232);
$background: rgb(231, 230, 230);
$text-light: rgb(66, 66, 66);
$border: rgb(19, 19, 19);

// breakpoints
$max-content-width: 1250px;
